<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.EarningMapper">
  <resultMap id="BaseResultMap" type="com.ssm.pojo.Earning">
    <id column="month" jdbcType="DATE" property="month" />
    <id column="country" jdbcType="VARCHAR" property="country" />
    <id column="province" jdbcType="VARCHAR" property="province" />
    <id column="city" jdbcType="VARCHAR" property="city" />
    <result column="fixture_number" jdbcType="INTEGER" property="fixture_number" />
    <result column="agency_fees" jdbcType="BIGINT" property="agency_fees" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    month, country, province, city, fixture_number, agency_fees
  </sql>
  <select id="selectByExample" parameterType="com.ssm.pojo.EarningExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Earning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ssm.pojo.EarningKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Earning
    where month = #{month,jdbcType=DATE}
      and country = #{country,jdbcType=VARCHAR}
      and province = #{province,jdbcType=VARCHAR}
      and city = #{city,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ssm.pojo.EarningKey">
    delete from Earning
    where month = #{month,jdbcType=DATE}
      and country = #{country,jdbcType=VARCHAR}
      and province = #{province,jdbcType=VARCHAR}
      and city = #{city,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.EarningExample">
    delete from Earning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.Earning">
    insert into Earning (month, country, province, 
      city, fixture_number, agency_fees
      )
    values (#{month,jdbcType=DATE}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{fixture_number,jdbcType=INTEGER}, #{agency_fees,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.Earning">
    insert into Earning
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="month != null">
        month,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="fixture_number != null">
        fixture_number,
      </if>
      <if test="agency_fees != null">
        agency_fees,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="month != null">
        #{month,jdbcType=DATE},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="fixture_number != null">
        #{fixture_number,jdbcType=INTEGER},
      </if>
      <if test="agency_fees != null">
        #{agency_fees,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.EarningExample" resultType="java.lang.Long">
    select count(*) from Earning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Earning
    <set>
      <if test="record.month != null">
        month = #{record.month,jdbcType=DATE},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.fixture_number != null">
        fixture_number = #{record.fixture_number,jdbcType=INTEGER},
      </if>
      <if test="record.agency_fees != null">
        agency_fees = #{record.agency_fees,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Earning
    set month = #{record.month,jdbcType=DATE},
      country = #{record.country,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      fixture_number = #{record.fixture_number,jdbcType=INTEGER},
      agency_fees = #{record.agency_fees,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.Earning">
    update Earning
    <set>
      <if test="fixture_number != null">
        fixture_number = #{fixture_number,jdbcType=INTEGER},
      </if>
      <if test="agency_fees != null">
        agency_fees = #{agency_fees,jdbcType=BIGINT},
      </if>
    </set>
    where month = #{month,jdbcType=DATE}
      and country = #{country,jdbcType=VARCHAR}
      and province = #{province,jdbcType=VARCHAR}
      and city = #{city,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.Earning">
    update Earning
    set fixture_number = #{fixture_number,jdbcType=INTEGER},
      agency_fees = #{agency_fees,jdbcType=BIGINT}
    where month = #{month,jdbcType=DATE}
      and country = #{country,jdbcType=VARCHAR}
      and province = #{province,jdbcType=VARCHAR}
      and city = #{city,jdbcType=VARCHAR}
  </update>
  
  <resultMap id="TransResultMap" type="com.ssm.pojo.Trans">
    <id column="province" jdbcType="VARCHAR" property="province" />
    <result column="sum(fixture_number)" jdbcType="INTEGER" property="fixture_number" />
    <result column="sum(agency_fees)" jdbcType="BIGINT" property="agency_fees" />
  </resultMap>
  <resultMap id="TranResultMap" type="com.ssm.pojo.Tran">
  	<id column="month" jdbcType="DATE" property="month" />
    <id column="province" jdbcType="VARCHAR" property="province" />
    <result column="sum(fixture_number)" jdbcType="INTEGER" property="fixture_number" />
    <result column="sum(agency_fees)" jdbcType="BIGINT" property="agency_fees" />
  </resultMap>
  
  <select id="selectByMonth" resultMap="TransResultMap">
	select province,sum(fixture_number),sum(agency_fees),month
	from Earning
	where month between #{0} and #{1}
	and country='China'
	and province=#{2} 
	group by province,month
	order by month asc;
  </select>

  <select id="selectSortNo" resultMap="TranResultMap">
	select province,sum(fixture_number),sum(agency_fees)
	from Earning
	where month between #{0} and #{1}
	and country='China'
	group by province
	order by sum(fixture_number) desc;
  </select>

  <select id="selectSortFee" resultMap="TranResultMap">
	select province,sum(fixture_number),sum(agency_fees)
	from Earning
	where month between #{0} and #{1}
	and country='China'
	group by province
	order by sum(agency_fees) desc;
  </select>

</mapper>